<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <servlet-class>br.com.login.CadastroLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLoginServlet</servlet-name>
        <servlet-class>br.com.login.UpdateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>LoginControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <url-pattern>/CadastroLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLoginServlet</servlet-name>
        <url-pattern>/UpdateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
